.header {
  /* padding: 0.5em; */
  font-size: 1.2rem;
  border-bottom: #333 solid 0.2rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 20px; */
}
.logo a {
  padding-left: 2em;
  font-size: 2rem;
  /* font-weight: bold; */
  text-decoration: none;
  color: #333;
}

.nav-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  /* display: flex; */
  /* flex-direction: row; */
  padding-right: 2em;
}

.nav-links li {
  margin-left: 10px;
  /* display: inline; */
  font-size: 1.2rem;
  padding: 1em;
  opacity: 0.6;
  transition: 0.3s;
}
.nav-links li:hover {
  background-color: rgb(235, 230, 230);
  opacity: 1;
}

.nav-links a {
  text-decoration: none;
  color: #333;
}
.hamburger {
  display: none;
  height: 0;
  width: 0;
}

.nav-links-mobile {
  display: none;
}
.nav-links-mobile li {
  padding: 1em;
}

@media (max-width: 767px) {
  /* Show the hamburger icon on screens smaller than 768px */
  .hamburger {
    display: block;
    height: 50px;
    width: 50px;
  }
  .nav-links {
    flex-direction: column;
    display: none;
  }
  .nav {
    justify-content: space-around;
  }
  .nav-links-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    padding: 1em;
  }
}
